<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div id="container">
		<div class="header">
			<h1>Welcome to Great Number Game!</h1>
			<p>I am thinking of a number between 1 and 100 </p>
			<p>Take a guess!</p>
		</div>
		<div class="counter">
			<h1>Number of Attempts</h1>
            <h2>{{request.session.counter}}</h2>
		</div>
		<form action="/sub" method="post">
			{% csrf_token %}
			<input type="number" name="guess">
			<br>
			<input id="sub" type="submit"value="submit">
			{% if request.session.submition_result == "low"%}
				<div id="low">
					<h1>Low!</h1>
				</div>
			{% elif request.session.submition_result == "high"%}
				<div id="high">
					<h1>high!!</h1>
				</div>
			{% elif request.session.submition_result == "Correct"%}
				<div id="result">
					<h1>You got it right!</h1>
					<a href="/try_again"><button>Play Again</button></a>
				</div>
			{% endif %}
		</form>
    </div>
</body>
</html>