<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <!-- CSS only -->
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/user.css' %}"> 
</head>
<body>
    <div class="container con">
        <h1>{{m}}</h1><br>
        <h3>{{user.first_name}} {{user.last_name}}</h3><br>
        <p>{{user.email}}</p>
        <a href="http://127.0.0.1:8000/"> Go Back</a>
    </div>
</body>
</html>