<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (one)</title>
    {% load static %}
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/show_style.css' %}"> 
</head>
<body>
    <div class="container com">
        <div class="content con">
            <h1 class="jumbotron-heading">TV Show {{shows.id}}</h1>
            <p><strong>Title:</strong> {{shows.title}}</p>
            <p><strong>Network:</strong> {{shows.network}}</p>
            <p><strong>Release Date:</strong> {{shows.release_date}}</p>
            <p class="desc"><strong>Description:</strong> {{shows.desc}}</p>
            <p><strong>Last Updated:</strong> {{shows.updated_at}}</p>
            <p><a href="http://127.0.0.1:8000/shows/{{shows.id}}/edit">Edit</a> | <a href="http://127.0.0.1:8000/shows/{{shows.id}}/destroy">Delete</a></p>
        </div>
        <a href="http://127.0.0.1:8000/shows">Go Back</a>
    </div>
</body>
</html>