*{
    margin: 0 auto;
    padding: 0;
}
.com{
    display: flex;
    background-color: rgb(186, 189, 196);
    width: 900px;
    padding: 30px;
    margin-top: 20px;
}
.con{
    width: 750px;
}
.desc{
    margin-bottom: 100px;
}
