<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container cont">
        <div class="form1">
            <h3 class="jumbotron-heading">Add a Book</h3>
            <form action="/add_book" method="post">
                {% csrf_token %}
                <label for="Title">Title</label>
                <input type="text" class="form-control" name="title" placeholder="" value="">
                <label for="floatingTextarea2">Description</label>
                <textarea name="desc" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea><br>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
            </form>
        </div>
        <div class="table-1">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in all_the_books %}
                    <tr>
                        <th scope="row">{{book.id}}</th>
                        <td>{{book.title}}</td>
                        <td><a href="http://127.0.0.1:8000/books/{{book.id}}">view</a> </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>